version: '3.9'

services:
  app:
    build: .
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      MONGODB_URI: mongodb+srv://alexsarnavskiy_db_user:mFMFPU2DXfgGig0S@cluster0.glulr8q.mongodb.net/?appName=Cluster0
      MONGODB_DB_NAME: alexsarnavskiy_db_user
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: alexsarnavskiy_db_user
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data:
