version: '3.9'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: mongodb://mongo:27017/docker_express
      PORT: 3000
    volumes:
      - ./:/app
      - app-node-modules:/app/node_modules
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  app-node-modules:
  mongo-data:
